// CUSTOM STUFF
//

span.btn-label {
  line-height: @baseButtonHeight;
}

// ALERTS
// --------------------
.alert-neutral {
  background-color: @neutralBackground;
  border-color: @neutralBorder;
}
.alert-neutral,
.alert-neutral .alert-heading {
  color: @neutralText;
}

// BUTTON GROUPS
// --------------------
.btn-toolbar {
  .btn-label {
    float: left;
    line-height: @baseLineHeight;
    margin-right: 5px;
  }
}
.btn-toolbar.btn-toolbar-stacked {
  .btn-group {
    display: block;
  }
  .btn-group + .btn-group {
    margin-left: 0px;
    margin-top: 5px;
  }
}
.btn-toolbar.btn-toolbar-stacked.btn-toolbar-fill {
  a.btn {
    width: 100%;
  }
}

// DROPDOWNS
// --------------------
.input-prepend.dropdown .caret:hover,
.input-append.dropdown .caret:hover {
  .opacity(100);
}
.input-prepend.combobox, .input-append.combobox {
  .caret {
    border-left:  8px solid transparent;
    border-right: 8px solid transparent;
    border-top:   8px solid @black;
    margin: 6px 0;
  }
  ul.dropdown-menu {
    margin-top: -8px;
  }
}

// TYPE
// --------------------
.baseline-bottom {
  margin-bottom: @baseLineHeight;
}
ul.sortable {
  margin-left: 0;
  list-style: none;
}

// WELLS
// --------------------
.well.tight.nav-list {
  padding-left: 14px;
  padding-right: 14px;
}

// General Purpose Styles
// --------------------
// Used for making a sortable list of element
//  The first child is the handle (+) and the rest is the sortable element.
.sortable > div {
  position: relative;

  > * {
    margin-left: 20px;

    &:first-child {
      top: 0;
      bottom: 0;
      position: absolute;
      width: 20px;
      margin: auto 0;
    }
  }
}

// remove margins
.tight {
  margin: 0px;
}


// CENTERED LIST
// --------------------
.centered-list {
  display: table;
  margin: 0 auto;

  ul {
    margin: 0 auto;
    li {
      float: left;
      padding: 0px 10px;
    }
    li:not(:first-child) {
      border-left: 1px solid #777;
    }
    li:first-child {
      padding-left: 0px;
    }
  }
}


// COMBOBOX
// --------------------
.combobox ul.dropdown-menu li a {
  cursor: pointer;
}

// MODAL EXTENSIONS
// --------------------
.modal.modal-tall {
  .modal-body {
    max-height: 600px;    // add 200px so
  }
  margin-top: -350px;   // add 100px to original (margin: -250px 0 0 -280px;) top margins
}

.modal.modal-wide {     // original is 7 spans (560px wide) -- wide will be 10 spans (800px)
  width: 800px;
  margin-left: -400px;        // offset -280 - (new 240 / 2) =
}

// TABLES
// --------------------
table.table tbody {
  tr.selected td, tr.selected th {
    background: @blueLight !important;
  }
  tr.selected:hover td, tr.selected:hover th {
    background: @blueGray !important;
  }
}

table.selectable > tbody {
  cursor: pointer;
}

// Accordions
// -------------------------------
.accordion-group {
  .accordion-heading {
    .buttonBackground(@btnBackground, @btnBackgroundHighlight);
  }
}

// LR SPECIFIC COLORS
// -------------------------------
.lr {
  &.lr-neg {
    color: @lrNegBase;
  }
  &.lr-pos {
    color: @lrPosBase;
  }
  &.lr-unity {
    color: @lrNeutralBase;
  }
}

// LOGIN SPECIFIC
// -------------------------------
body#login {
  padding-top: 0px;   // override menu bar
  background: #fff url('whitediamond.jpg') repeat-x;

  #login-block-container {
    width: 100%;

    #login-block {
      width: 500px;
      margin: 100px auto 0 auto;
      padding: 20px;

      background-color: @white;
      border: 1px solid #999;
      //border: 1px solid rgba(0,0,0,.3);
      *border: 1px solid #999; /* IE6-7 */
      .border-radius(2px);
      .box-shadow(0 5px 50px rgba(0,0,0,0.3));
    }
  }
}

#login-block {
  h1 {
    margin-bottom: 20px;
  }
  .username-password {
    width: 400px;  // 120px (label) + 20px (gutter) + 240px (input - 3 col) + 20px (gutter)
    float: left;
  }
  .login-btn {
    margin-top: 10px;

    .btn {
      font-size: 24px;
      padding: 12px 18px;
    }
  }
}

form#new_smd_user {
  #register-btn {
    float: right;
    margin-right: 40px;
  }
}

form#forgot-pasword {
  #email-wrapper {
    width: 400px;
    float: left;
  }
  .btn {

  }
}

// NAVBAR
// ---------------------------
.navbar .nav .dropdown-toggle .caret,   // change the drop-down caret color
.navbar .nav .open.dropdown .caret {
  border-top-color: @grayDark;
  border-bottom-color: @grayDark;
}

.navbar .nav > li > a {
  text-shadow: 0 -1px 0 @navbarBackground;
}

.navbar-inner {                         // replace default with blue-ish
  // lighten version of linkColor (0, 136, 204)
  @shadow: 0 1px 3px rgba(100,100,100,.15), inset 0 -1px 0 rgba(100, 100, 100,.05);
  .box-shadow(@shadow);
}

.navbar .nav > li.dropdown.open > a{
  color: @navbarLinkColorHover;
}
