// CUSTOM STUFF
//

span.btn-label {
  line-height: @baseButtonHeight;
}

// COMBOBOX
// --------------------
.combobox ul.dropdown-menu li a {
  cursor: pointer;
}

// MODAL EXTENSIONS
.modal.modal-tall {
  .modal-body {
    max-height: 600px;    // add 200px so
  }
  margin-top: -350px;   // add 100px to original (margin: -250px 0 0 -280px;) top margins
}

.modal.modal-wide {     // original is 7 spans (560px wide) -- wide will be 10 spans (800px)
  width: 800px;
  margin-left: -400px;        // offset -280 - (new 240 / 2) =
}

// LR SPECIFIC COLORS
// -------------------------------
.lr {
  &.lr-neg {
    color: @lrNegBase;
  }
  &.lr-pos {
    color: @lrPosBase;
  }
  &.lr-unity {
    color: @lrNeutralBase;
  }
}
